
.banner {
	border: 0px solid red;
	width: auto;
	height: 110px;
	background-color: white;
	position: relative;
	top:10px;
}

a{
	text-decoration: none;
	float: right;
	color:gray;
	

}
a:hover{
	color: yellow;
}

<!--links nao visitados-->


#imagem{
	border: 0px solid red;
	width: auto;
	height: 340px;
	float: center;	

}


#links{
	border: 0px;
	width: 300px;
	height: 50px;
	float: right;
	padding-right:20px;
	margin-right: 250px;
	padding-top: 30px;

}
#log{
	border: 0px solid red;
	width: 400px;
	height: 80px;
	float: left;
	margin-left: 100px;
	margin-bottom: 20px;
	margin-top: 20px;

}



#quadros{
	border: 0px solid red;
	width: auto;
	height: 300px;
	background-color: #F5F5F5

}

#moldura{
	border: 0px solid red;
	width: 210px;
	height: 210px;
	margin-top: 40px;
	margin-left: 80px;
	float: left;
}



#fundo{
	border: 0px solid red;
	width: auto;
	height: 300px;
	background-color: #2F4F4F;
}

#caixa{
	border: 0px solid red;
	width: 210px;
	height: 180px;
	margin-top: 40px;
	margin-left: 80px;
	float: left;
}



.clear{
	clear: both;
}


